.input {
    display: flex;
}

.input > input {
    width: 100%;
    outline: none;
    font-size: 2rem;
    border-radius: 10px;
}

.responses {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow: hidden;
    padding: 10px;
}

.responses > div {
    flex: 1 1 300px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    position: relative;
}