.prompt-input {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: 1em;
  resize: none;
  background-color: #ddd;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.4;
  transition: all 0.4s;
}

.prompt-input:hover {
  cursor: pointer;
  background-color: #eee;
}

.prompt-input:focus {
  cursor: text;
  color: #333;
  background-color: white;
  border-color: #333;
  box-shadow: 1px 1px 1px black;
}

.prompt-input:focus::placeholder {
  color: transparent;
}
