.response-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 3em;
}

.response-container > div {
  flex-grow: 1;
  min-width: 300px;
  box-shadow: 1px 1px 1px black;
}

.response-container > div {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}
