.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100dvh;
}

@media (orientation: landscape) {
    .container {
        height: 100lvh
    }
}
@media (orientation: portrait) {
    .container {
        height: 100svh;
    }
}

.name {
    display: inline-block;
}

.intro, .abstract {
    flex: 1 1 50%;
    min-width: 250px;
}

.appear {
    opacity: 0;
    animation: 1s fade-in ease-in 0.4s;
    animation-fill-mode: forwards;
}

.typewriter {
    border-right: 3px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 1s steps(16),
        cursor 0.8s ease-in-out infinite alternate;
    animation-fill-mode: forwards;
}


.intro h2 {
    padding-bottom: 50px;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0; }
}

@keyframes fade-in {
    100% { opacity: 1; }
}
