.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100dvh;
}

@media (orientation: landscape) {
    .container {
        height: 100lvh
    }
}
@media (orientation: portrait) {
    .container {
        height: 100svh;
    }
}

.name {
    display: inline-block;
}

.intro, .abstract {
    flex: 1 1 50%;
    min-width: 250px;
}

.intro h2 {
    padding-bottom: 50px;
}