:root{
    --tick-width: 25px;
    --tick-height: 5px;
}

.timeline{
    padding-top: 30px;
    padding-bottom: 30px;
}

.timeline-entry {
    display: flex;
    align-items: stretch;
}

.timeline-entry > * {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    padding: calc(var(--tick-width) + 5px);
    box-sizing: content-box;
    justify-content: center;
    text-align: center;
}

.timeline-entry:nth-child(odd) {
    flex-direction: row-reverse;
}

.timeline-entry:nth-child(even) > div:last-child {
    border-left-width: var(--tick-height);
    border-left-style: solid;
}

.timeline-entry:nth-child(odd) > div:last-child {
    border-right-width: var(--tick-height);
    border-right-style: solid;
}

.description {
    position: relative;
}

.timeline-entry:nth-child(odd) > .description::after, .description::before {
    content: '';
    color: black;
    background-color: black;
    width: var(--tick-width);
    height: var(--tick-height);
    position: absolute;
    right: 0;
    bottom: 50%;
}

.timeline-entry:nth-child(even) > .description::before {
    left: 0;
}

@media (max-width: 650px) {
    .timeline-entry {
        display: block;
    }
    .description {
        border-bottom-width: 3px;
        border-bottom-style: solid;
    }
    .description::after, .description::before{
        visibility: hidden;
    }
    .timeline-entry:nth-child(even) > div:last-child {
        border-left-width: 0;
    }
    .timeline-entry:nth-child(odd) > div:last-child {
        border-right-width: 0;
    }
}