.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100dvh;
    background-color: cyan;
}

.bio, .about {
    background-color: aqua;
    border-width: 2px;
    border-color: red;
    border-style: dashed;
    flex: 1 1 50%;
    min-width: 250px;
}