.experience_container {
    display: grid;
    gap: 1.5rem;
}

.experience_container > h3, .experience_container > p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.experience_container > p {
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0 black;
}

@media (min-width: 650px) {
    .experience_container {
        grid-template-columns: 1fr 3fr;
    }
}