:root {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-bottom: 100px;
}

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}