html {
    scroll-behavior: smooth;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

body {
    max-width: 2000px;
    margin: auto;
}

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}