*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;
}

body {
    max-width: 2000px;
    margin: auto;
}

a {
    color: blue;
    display: inline;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

a:visited {
    color: blue;
}

a:hover, a:visited:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    color: blue;
}