.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100dvh;
}

@media (orientation: landscape) {
    .container {
        height: 100lvh
    }
}
@media (orientation: portrait) {
    .container {
        height: 100svh;
    }
}

.name {
    display: inline-block;
}

.intro, .abstract {
    flex: 1 1 50%;
    min-width: 320px;
}

.abstract {
    font-size: 1.2rem;
    line-height: 1.5;
}

.abstract a {
    word-break: break-word;
}


.appear {
    opacity: 0;
    animation: 1s fade-in ease-in 0.4s;
    animation-fill-mode: forwards;
}

.typewriter {
    border-right: 3px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 1s steps(16),
        cursor 0.8s ease-in-out infinite alternate;
    animation-fill-mode: forwards;
}


.intro h2 {
    padding-bottom: 50px;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0; }
}

@keyframes fade-in {
    100% { opacity: 1; }
}

.wave {
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    font-size: 1.2em;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

@media (max-width: 650px) {
    .abstract {
        font-size: 1rem;
    }
}